{% include "header.html" %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
  <div class="starter-template">

    <h2> Brunch (11:00 ~ 15:30) </h2>
    <!-- Two columns of text -->
    <div class="row">
      <div class="col-lg-6">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/sandwich.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Sandwich</h3>
        <p> Price 0.7 </p>
      </div><!-- /.col-lg-6 -->

      <div class="col-lg-6">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/brunchplate.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Brunch Plate</h3>
        <p> Price 1.3 </p>
      </div><!-- /.col-lg-6 -->
    </div><!-- /.row -->

    <h2> Dinner (16:30 ~ 25:00) </h2>
    <!-- Four columns of text -->
    <div class="row">
      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/french_fries.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>French Fries</h3>
        <p> Price 0.7 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/cozze.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Cozze</h3>
        <p> Price 1.1 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/sausage.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Sausage</h3>
        <p> Price 1.3 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/fries_basket.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Fries Basket</h3>
        <p> Price 1.3 </p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->

    <h2> All Days </h2>
    <!-- Four columns of text -->
    <div class="row">
      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/handmade_burger.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Handmade Burger</h3>
        <p> Price 1.2 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/pepperoni_pizza.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Pepperoni Pizza</h3>
        <p> Price 1.2 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/gorgonzola_pizza.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Gorgonzola pizza</h3>
        <p> Price 1.2 </p>
      </div><!-- /.col-lg-3 -->

      <div class="col-lg-3">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/salad_pizza.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Salad Pizza</h3>
        <p> Price 1.5 </p>
      </div><!-- /.col-lg-3 -->
    </div><!-- /.row -->

    <h2> Dessert </h2>
    <!-- Three columns of text -->
    <div class="row">
      <div class="col-lg-4">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/pretzel.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Pretzel</h3>
        <p> Price 0.4 </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/cheese_cake.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Cheese Cake</h3>
        <p> Price 0.5 </p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4">
        <img class="img-circle" src="{{ url_for('static', filename='imgage/menu/dish/brownie.jpg') }}" alt="Generic placeholder image" width="140" height="140">
        <h3>Brownie</h3>
        <p> Price 0.5 </p>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div>
</div>
{% include "footer.html" %}
{% endblock %}
