{% extends "bootstrap/base.html" %}

{% block html_attribs %} lang="kr" {% endblock %}
{% block title %} 나주 푸르넷 공부방 {% endblock %}

{% block head %}
{{super()}}
{{mymap.js}}
<link rel="icon" href="../static/favicon.ico">
{% endblock %}

{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Noto+Sans' type='text/css'>
<link href="https://cdn.rawgit.com/singihae/Webfonts/master/style.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
{% include "navbar.html" %}
<div class="container">
  <div class="starter-template">
    <div class="page-header">
      <h2>오시는 길</h2>
    </div>
    <div class="mymap" align="center">
        {{mymap.html}}
    </div>
    <h3> 서울시 마포구 와우산로 17길 19-22 </h3>

    <h4> 예약안내 <i class="fa fa-phone" aria-hidden="true"></i> 02-337-9896 </h4>
    <h4> 영업시간 <i class="fa fa-clock-o" aria-hidden="true"></i> 11:00 ~ 26:00 </h4>

  </div>
</div>
{% include "footer.html" %}
{% endblock %}
